* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    background-repeat: repeat;
    position: relative;

    font-family: 'Geist', 'Segoe UI', sans-serif;
    /* font-family: 'Segoe UI', sans-serif; */

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-image: url('/images/noise-light.png');
        opacity: 0.5;
    }
}

.wrapper {
    max-inline-size: 1440px;
    margin: 0 auto;
    @media (max-width: 1280px) {
        max-inline-size: 1024px;
    }
}

header {
    padding: 10px 0;
    border-bottom: 1px solid #d2d2d2;
    background-color: #151513;
    position: fixed;
    top: 0;
    width: 100%;
}

header .wrapper,
.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    gap: 40px;
    align-items: baseline;
}

.logo {
    color: #d2d2d2;
    font-size: 13px;
    font-weight: 500;
}

.slash {
    color: #ff4500;
}

.primary-navigation ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

.primary-navigation ul li a {
    padding-bottom: 5px;
}
.primary-navigation ul li a:hover {
    border-bottom: 1px solid #d2d2d2;
}

a {
    text-decoration: none;
    color: #d2d2d2;
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
}

.primary-navigation a {
    letter-spacing: 0.12em;
}

.header-actions {
    display: flex;
    gap: 20px;
    align-items: baseline;
}
.resume-link,
.contact-link {
    padding: 10px 20px;
    border: 1px solid #d4ad33;
}
