h1 {
    color: #d2d2d2;
    font-size: 7rem;
    letter-spacing: -0.055em;
    line-height: 1;
    font-family: 'Figtree', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    z-index: 1;
    @media (max-width: 1280px) {
        font-size: 5rem;
    }
}

section {
    padding-block-start: 128px;
    margin-block-end: 128px;
}

.hero-intro {
    color: #8f0a30;
    max-width: 1000px;
}

h2 {
    color: #d2d2d2;
    font-size: 4rem;
    border-bottom: 1px solid #d2d2d2;
    text-transform: capitalize;
}

.about {
    padding: 10px;
    /* background-color: orangered; */
    height: 660px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
}

.about-grid-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 50px);
}
.grid-child {
    background-color: plum;
    background: none;
    color: #e9e6df;
    &:nth-child(1) {
        grid-column: 1 / 4;
        grid-row: 1 / 7;
    }

    &:nth-child(2) {
        background-color: deepskyblue;

        grid-row: 1 / 4;
    }

    &:nth-child(3) {
        background-color: yellow;

        grid-row: 4 / 7;
    }

    &:nth-child(4) {
        grid-column: 1 / -1;
        grid-row: 7 / -1;
    }
}

.about-nested-stats {
    background-color: #151513;
    background-image: url('../images/noise-light.png');
    border: 1px solid #d2d2d2;
    padding: 20px;

    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);

    grid-template-areas: 'item1  item2  item3   item4';
}

.nested-grid-child {
    text-align: left;
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-content: space-around;

    &:nth-child(1) {
        grid-area: item1;
    }
    &:nth-child(2) {
        grid-area: item2;
    }
    &:nth-child(3) {
        grid-area: item3;
    }
    &:nth-child(4) {
        grid-area: item4;
    }
}

h3 {
    color: #e9e6df;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -0.055em;
    font-family: 'Figtree', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.nested-grid-child p {
    font-family: 'Newsreader', 'Times New Roman', Times, serif;
    color: #9a978f;
}

.experience {
    background-color: greenyellow;
    padding: 10px;
    height: 500px;
    width: 100%;
}
