h2 {
    font-size: 4.5rem;
    text-align: left;
    @media (width > 1750px) {
        font-size: 7.5rem;
    }
}

main {
    margin-block: 100px;
}

.hero-intro {
    max-inline-size: 700px;
    font-size: 24px;
}

.lede {
    line-height: 1.45;
}
