@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #212120;

    font-family: 'Geist', 'Segoe UI', sans-serif;
    /* font-family: 'Segoe UI', sans-serif; */
    color: #1311d1;

    position: relative;
}

body::before {
    content: '';
    position: fixed;
    inset: 0;

    background-image: url('/images/noisy-background_1194-7547.avif');
    background-repeat: repeat;

    opacity: 0.08;

    pointer-events: none;
    z-index: 9999;
}

.wrapper {
    width: min(100% - 32px, 1440px);
    margin: 0 auto;
}

header {
    padding: 20px 0;
    border-bottom: 1px solid black;
    background-color: #151513;
}

header .wrapper,
.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    gap: 40px;
}

.logo {
    font-size: 2.15rem;
    font-weight: 900;
    color: #1311d1;
    letter-spacing: -2px;
}

.slash {
    color: orangered;
}

.primary-navigation ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

a {
    text-decoration: none;
    color: #1311d1;
    color: #fff;
}

.header-actions {
    display: flex;
    gap: 20px;
    font-size: 12px;
}
.resume-link {
    padding: 10px 20px;
    border: 1px solid #1311d1;
}
.contact-link {
    padding: 10px 20px;
    background-color: #1311d1;
    color: #d2d2d2;
}

h6 {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    text-transform: uppercase;
}

h1 {
    color: #fff;
}
